<ion-header>
  <!-- hidden -->
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-slides pager style="width: 50%;">
      <ion-slide *ngFor="let imgBanner of imgs">
        <img src={{imgBanner.img}} style="height: 100vh;" (click)='showView()'>
      </ion-slide>
    </ion-slides>

    <ion-col>
      <ion-list padding *ngFor="let item of items">
        <ion-item (click)="showToast()">
          <ion-col size="12">
            {{item.title}}
            <p>{{item.description}}</p>
          </ion-col>
        </ion-item>
      </ion-list>
    </ion-col>

  </ion-row>

  <!-- <app-tabs></app-tabs> -->
</ion-content>